.total-body {
	display: grid;
	grid-template-columns:80% 20%;
}  
.article {
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	display: inline-block;
	padding: 10px;
}

.article {
	display: grid;
	grid-template-columns:30% 70%;
}

.article-photo {
	max-width: 220px;
	max-height: 170px;
	overflow:hidden;
}